@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Oswald:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link{
    text-decoration: none;
    color: yellow;
    font-size: 1.3rem;
    font-weight: bold;
}
.link:hover{
    color: white;
}
.header{
    font-family:'Oswald', sans-serif;
    background-color: #000000;
}

.logo{
    width: 9rem;
}

.main{
    font-family: 'Oswald', 
    sans-serif;
    background-color: rgb(26, 139, 143);
    display: flex;
    justify-content: space-evenly;
    padding-block: 4.6rem;
}

.section1 h1{
    font-size: 3rem;
    font-weight: bold;
}

.section1{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons{
    margin-block: 0.4rem
}

.section2 h1{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
}

.form{
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
}

.form1{
    margin-top: 0.4rem;
    height: 3rem;
    width: 15rem;
}

.textarea{
    height: 8rem;
}

.form2{
    padding: 0.8rem;
    background-color: #545454;
    border: 1px solid;
}








.footer{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    padding-top: 2.2rem;
}
.logo-abajo{
    padding-left: 1rem;
    width: 9rem;
}
.menu-abajo{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 1rem;
}









.texto{
    display: flex;
}

@media (max-width: 650px){
    .main{
        flex-direction: column;
        align-items: center;
    }
}