@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header.scss";
@import "./partials/index.scss";
@import "./partials/nosotros.scss";
@import "./partials/servicios.scss";
@import "./partials/productos.scss";
@import "./partials/contacto.scss";
@import "./partials/footer.scss";
@import "./partials/mediaqueries.scss"