.con-main{
    padding-block: 4.6rem;

    .con-content{
        @include flex(space-evenly, center);
        
        -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

        .con-section-1{
            @include flex(center, center);
            font-size: 1.5rem;
            flex-direction: column;
    
            i{
                transition: .25s;
                margin-block: 0.5rem;

                &:hover{
                    color: $colorTerciario ;
                }
            }
        }
        .con-section-2{
            h2{
                font-size: 2rem;
                padding-block: 1rem;
            }
            form{
                .form-1{
                    width: 15rem;
                    font-size: 1.2rem;
                    border-radius: 0;
                    transition-property: transform, border;
                    transition-duration: .2s, 0s;
                    border: 1px solid transparent;

                    &:hover{
                        transform: scale(1.05);
                        border: 1px solid $colorPrincipal;
                    }
                }
                div{
                    .form-2{
                        margin-top: 1rem;
                    }
                }  
                .botones{
                    padding: 0.8rem;
                    background-color: #545454;
                    border: 1px solid;
                    transition: .3s;

                    &:hover{
                        background-color: $colorPrincipal;
                        color: $colorTerciario;
                    }
                }
            }
        }
    }
}