.footer{
    background-color: $colorPrincipal ;
     @include flex(center, center);
     flex-direction: column;
     padding-top: 1rem;
     gap: 0.5rem;

    .logo-footer{
        width: 11rem;
    }
    .menu-footer{
         @include flex(center, center);
        list-style-type: none;
        padding-bottom: 1rem;

        .list-item{
            padding-inline: 1rem;
            
            a{
                transition: .3s;
                &:hover{
                    color: $colorHover;
                }
            }
        }
    }
}