.footer{
    background-color: $colorPrincipal ;

    .logo-footer{
        padding-top: 2.2rem;
        padding-left: 1rem;
        width: 11rem;
    }
    .menu-footer{
        @include flex(center, center);
        list-style-type: none;
        padding-bottom: 1rem;

        .list-item{
            padding-inline: 1rem;
            
            a{
                &:hover{
                    color: $colorHover;
                }
            }
        }
    }
}