.header{
    background-color: $colorPrincipal;

    div{
        @include flex(end, center);

        .logo{
            width: 9rem;
        }
    }
    li{
        a{
            color: $colorTerciario;
            font-size: 1.3rem;
            font-weight: bold;
            transition: .2s;

            &:hover{
                color: $colorHover;
                transform: translate(2.5px, -2.5px);
            }
        }
    }
}