.nos-main{
    background-color: rgb(26, 139, 143);

    .nos-content{
        padding-bottom: 1rem;
        
        h1{
            padding-block: 1rem;
        }
        
        h2{
            margin-bottom: 1rem;
        }
        div{
            margin-bottom: 1rem;
        }
        .nos-sections{
            background-color: black;
            color: yellow;
            padding: 1rem;
            border-radius: 15px;
            border: 3px solid yellow;
        }
    }
}