.pro-main{
    padding-bottom: 2rem;

    .pro-content{
        margin-inline: 3rem;
        display: grid;
        gap: 1rem;
        
        -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        
        h1{
            padding-top: 1rem;
        }
        .pro-section{

            img{
                border-radius: 15px 15px 0 0;
            }
            @for $i from 1 through 3 {
                .pro-div-#{$i} {
                    padding: 0.5rem;
                    background-color: $colorPrincipal;
                    color: $colorTerciario;
                    border-radius: 0 0 15px 15px;
                }
            }
            p{
                span{
                    color: white;
                }
            }
        }
    }
}
