@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Oswald:wght@300;700&display=swap');

*, p, h1 ,h2, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oswald', sans-serif;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1.4rem;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: yellow;
}
.header{
    font-family:'Oswald', sans-serif;
    background-color: black;

    img{
        width: 9rem;
    }
    div{
        display: flex;
        justify-content: end;
    }
    a{
        color: yellow;
        font-size: 1.3rem;
        font-weight: bold;

        &:hover{
            color: white;
        }
    }
}