@media(max-width:767px){
    .header div{
      justify-content: start;
    }
}
@media (min-width: 768px){
    .in-div{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 767px){
    .in-div{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;;
        .img-1{
            grid-column: 1/2;
        }
        .img-2{
            grid-column: 2/3;
        }
    }
}
@media (min-width: 768px){
    .nos-content{
        width:55rem
    }
    .nos-jefes{
      display: grid;
      grid-template-columns: 1fr 1fr;

      .jefe-img1{
        grid-column: 1/2;
        padding-right: 0.5rem;
      }
      .jefe-img2{
        grid-column: 2/3;
        grid-row: 1;
        padding-left: 0.5rem;
      }
      p{
        grid-column: 1/3;
      }
    }

    .pro-content {
        display: grid;
        grid-template-rows: 5rem 0.5fr 0.5fr 0.5fr;
    }
    .pro-section {
        margin-block: 0.75rem;
        display: grid;
        grid-template-columns: 1.5fr 3fr;
    }
    .pro-img {
        height: 100%;
        border-radius: 5px 0 0 5px;
    }
    .pro-div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 5px 5px 0;
    }
    .pro-titulo-2 {
        padding-bottom: 0.75rem;
        font-size: 2rem;
    }
}

@media (min-width: 992px){
    .pro-section {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}

@media (max-width: 767px){
    .pro-img{
        border-radius: 5px 5px 0 0;
    }
    .pro-div{
      border-radius: 0 0 5px 5px;
    }
}

@media (max-width: 767px){
    .con-main{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 850px){
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-footer{
        padding-bottom: 2.2rem;
    }
    .menu-footer{
        flex-direction: column;
        align-items: end;
        gap: 0.3rem;
        padding-top: 1rem;
    }
}