.pro-main{
    background-color: rgb(26, 139, 143);
    padding-bottom: 2rem;
    h1{
        font-size: 3rem;
        padding-block: 1rem;
    }
    .pro-div{
        padding: 0.5rem;
        background-color: black;
        color: yellow;
        margin-bottom: 1rem;
    }
}
