.ser-main{
    font-family:'Oswald', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(26, 139, 143);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 0.5fr 0.5fr 0.5fr;

    h1{
        font-size: 3rem;
        grid-column:3/4;
        justify-self: center;
        align-self: center;
        font-family:'Oswald', sans-serif;
        font-weight: bold;
        }

    .ser-tarjeta-1{
        background-color: black;
        border:  5px solid yellow;

        grid-column: 1/6;
        grid-row: 2/3;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
        img{
            width: 100%;
            height: 100%;
            grid-column: 1/3;
        }
        p{
            color: yellow;
            grid-column: 3/6;
            margin-bottom: 0;
            align-self: center;
        }
    }

    .ser-tarjeta-2{
        background-color: black;
        border:  5px solid yellow;

        grid-column: 1/6;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 1rem;

        iframe{
            width: 100%;
            height: 100%;
            grid-column: 4/6;
        }
        p{
            color: yellow;
            grid-column: 1/4;
            margin-bottom: 0;
            align-self: center;
        }
    }
    .ser-tarjeta-3{
        background-color: black;
        border:  5px solid yellow;

        grid-column: 1/6;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-block: 1rem;

        img{
            width: 100%;
            height: 100%;
            grid-column: 1/3;
        }
        p{
            color: yellow;
            grid-column: 3/6;
            margin-bottom: 0;
            align-self: center;
        }
    }
}